<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.factory.samples.edu.monolithic.domain.repository.CourseRepository">

	<select id="selectAllCourse" resultType="Course">
        SELECT C.ID
             , C.NAME
             , A.NAME AS ADMIN_NAME
		  FROM COURSE C
		LEFT OUTER JOIN ADMIN A
		ON A.ID = C.ADMIN_ID
    </select>

    <select id="selectCourseById" resultType="Course">
        SELECT C.ID
             , C.NAME
             , A.NAME AS ADMIN_NAME
		  FROM COURSE C
		LEFT OUTER JOIN ADMIN A
		ON A.ID = C.ADMIN_ID
         WHERE C.ID = #{id}
    </select>
    
    <select id="selectAllSubjectByCourseId" resultType="Subject">
        SELECT C.ID AS COURSE_ID
             , C.NAME AS COURSE_NAME
             , S.ID
             , S.NAME
             , S.BUILDING
             , S.FLOOR
             , S.ROOM_NO
             , I.ID AS INSTRUCTOR_ID
             , I.NAME AS INSTRUCTOR_NAME
             , A.ID AS ADMIN_ID
             , A.NAME AS ADMIN_NAME
		  FROM COURSE C
		LEFT OUTER JOIN SUBJECT S
		ON C.ID = S.COURSE_ID
		LEFT OUTER JOIN ADMIN A
		ON A.ID = C.ADMIN_ID
		LEFT OUTER JOIN INSTRUCTOR I
		ON I.ID = S.INSTRUCTOR_ID
		 WHERE C.ID = #{id}
    </select>

    <select id="selectAllAttendanceByCourseId" resultType="Attendance">
        SELECT A.ID
             , C.ID AS COURSE_ID
             , C.NAME AS COURSE_NAME
             , M.ID AS MEMBER_ID
             , M.NAME AS MEMBER_NAME
		  FROM ATTENDANCE A
		INNER JOIN COURSE C
		ON C.ID = A.COURSE_ID
		INNER JOIN MEMBER M
		ON M.ID = A.MEMBER_ID
         WHERE C.ID = #{id}
    </select>
</mapper>