<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.factory.samples.edu.monolithic.domain.repository.AdminRepository">

    <select id="selectAdminByEmail" resultType="Admin">
        SELECT ID
             , NAME
             , EMAIL
             , PASSWORD
          FROM ADMIN
         WHERE EMAIL = #{email}
    </select>
    
    <select id="selectAdminById" resultType="Admin">
        SELECT ID
             , NAME
             , EMAIL
             , PASSWORD
          FROM ADMIN
         WHERE ID = #{id}
    </select>
    
    <select id="selectAllAdmin" resultType="Admin">
        SELECT ID
             , NAME
             , EMAIL
             , PASSWORD
          FROM ADMIN
    </select>

</mapper>